[run]
branch = true
parallel = true
source = 
       oauth2u

omit =
     oauth2u/client.py

[report]
ignore_errors = true
precision = 2
exclude_lines = 
    # Have to re-enable the standard pragma
    pragma: no cover

[html]
ignore_errors = true
precision = 2
directory = docs/coverage/
